:root {
    --primary-color-one: #CAE4DB;
    --primary-color-two: #DCAE1D;
    --primary-color-three: #00303F;
    --primary-color-four: #7A9D96;
    --primary-color-five: #FEFFFF;
}


/* So either do this?? */

tr { display: block; float: left; }
th, td { 
    display: block;
    padding: 10px;
 }


/* or this: The trick is to use display: inline-block; on the table rows and  white-space: nowrap; on the table body. */




/* this is getting loaded everywhere so just plopping stuff here for now */
/* 
.newsImage {
    max-width: 100%;
    height: 250px;
} */

.newsBody {
    min-height: 400px;
}

.fullCard {
    padding-bottom: 15px;
}

.myFooter {
    position:absolute;
    bottom:0;
    width:92%;
}


/* trying to get the images to look ok */
.card {
    /* width:300px; */
    /* height:250px;     */
    overflow:hidden;
}
.card .newsImage {
    min-width:100%;
    height: 250px;

}

/* overflow for the news and favorites containers */
.newAndFavorites {
    height: 700px;
    overflow: scroll
}


/* overall color settings */
/* 
body {
    background-color: var(--primary-color-one);
    color: var(--primary-color-three);
} */


/* Styling the valuations */

.valuationParentBox, .valuationRow, .summaryLine {
    padding: 0px;
    margin: 0px;

}
.valuationContainer {
    background-color: var(--primary-color-four);
    color: var(--primary-color-three)
}


.alignRight {
    text-align: right;
}

.summaryLine{
    background-color: var(--primary-color-three);
    color: var(--primary-color-one);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: 700;
}

.btn-success {
    background-color:var(--primary-color-three);
    border-color: var(--primary-color-three);
}

.btn-success:active, .btn-success:hover, .btn-success:focus, .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active {
    background-color:var(--primary-color-four);
    border-color: var(--primary-color-four);
}

.btn-warning {
    background-color:var(--primary-color-two);
    border-color: var(--primary-color-two);
}


.myNav {
    background-color: var(--primary-color-three) !important;
    margin-bottom: 10px;
}

.myNav > a {

    color: var(--primary-color-five) !important
}


/* overriding some of the bootstrap buttons to make header button */
.nav-button {
    /* background-color: var(--primary-color-one) !important; */
    color: var(--primary-color-one) !important;
    border-color: var(--primary-color-one) !important;
}

.nav-button:hover {
    background-color: var(--primary-color-one) !important;
    color: var(--primary-color-three) !important;
}

.nav-button:not(:disabled):not(.disabled).active, .nav-button:not(:disabled):not(.disabled):active, .show>.nav-button.dropdown-toggle  {

    background-color: var(--primary-color-one) !important;
    color: var(--primary-color-three) !important;
}

.nav-button:focus {
    box-shadow: var(--primary-color-one) !important;
}

/* bolding custom input headers */

.colHeader {
    font-weight: 800;
}